html {
    font-size: 62.5%;
    color: rgb(235, 235, 245);
    background-color: rgb(35, 38, 53);
    height: 100%;
}
body {
    margin: 0;
    font-size: 1.8rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
}
#topbar {
    margin: 0;
    width: 100%;
    position: fixed;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.3);
    background-color: rgb(23, 25, 34);
}
#topbar a {
    padding: 1rem;
    text-align: center;
    display: inline-block;
}
.main-container {
    height: 100%;
    padding-top: 4.4rem;
    box-sizing: border-box;
}
.gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gallery-container a {
    flex-basis: 40rem;
    height: 30rem;
    margin: 1.5rem;
    padding: 2rem;
    background-color: rgb(44, 50, 71);
    border-radius: 1rem;
    border: .4rem solid transparent;
    box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.2);
    transition-duration: 0.1s;
}
.gallery-container a:hover {
    background-color: rgb(44, 51, 75);
    border-color: rgb(55, 63, 90);
}
a {
    color: inherit;
    text-decoration: inherit;
}
.app-container {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.app-menu {
    flex-basis: 30rem;
}
#viewport {
    flex-grow: 1;
    background: black;
}