/* {
    border: 1px solid red;
}*/
html {
    font-size: 62.5%;
    color: rgb(235, 235, 245);
    background-color: rgb(30, 32, 56);
    height: 100%;
}
body {
    margin: 0;
    font-size: 1.8rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
}
#main-container {
    display: grid;
    grid-template-columns: 30rem auto;
    height: 100%;
}
#sidebar {
    margin: 0;
    height: 100%;
    padding-left: 2.5rem;
    background-color: rgb(39, 39, 72);
    overflow: hidden;
}
.main {
    overflow: auto;
    text-align: center;
}
.gallery-container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.gallery-element {
    flex-basis: 40rem;
    height: 30rem;
    margin: 1.5rem;
    padding: 2rem;
    background-color: rgb(39, 39, 72);
    border-radius: 1rem;
    border: .4rem solid transparent;
    color: inherit;
    text-decoration: inherit;
    transition-duration: 0.1s;
}
.gallery-element:hover {
    background-color: rgb(42, 42, 75);
    border-color: rgb(55, 55, 90);
}
@media (max-width: 600px) {
    
}